@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Figtree', sans-serif; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.labelgroup {
  font-family: 'Figtree'; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Configuraciones */
/*
.monday-style-dialog-content-wrapper.contentWrapper_badaf00f3f{
  z-index: 1000;
}

.modal_b5db3f63b2.sizeFullView_915526bd9d {
  margin-inline: 10px !important;
}
*/


/* Scrollbar */
/*
.scroll {
  scrollbar-gutter: stable;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #c3c6d4;
  border-radius: 4px;
}

*/

/*

  @apply text-gray-900;
  @apply bg-[#eceff8];

*/



/* TanStack Table */

.th, .td {
  box-shadow: inset 0 0 0 1px #424242;
}

.th {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray.400;
  padding: 0.5rem;
  font-weight: bold;
  font-Size: xs;
  text-Transform: uppercase;
  text-Align: center;
}